<h1 class="section-title-inner"><span><i class="fa fa-star"></i> <%= Spree.t(:loyalty_points) %> </span></h1>
<p>Þínir Box punktar: <%= spree_current_user.loyalty_points_balance %></p>
<p>BOX punktar eru punktar sem viðskiptavinir safna þegar þeir versla hjá BOXINU. Alla jafna færðu 1 punkt fyrir hverjar 10 krónur en í sumum tilfellum færðu fleiri punkta. 
Hægt er að leysa út punktana með því að kaupa vörur ofl. 
Þegar punktar eru notaðir verður að greiða alla upphæðina með punktum, ekki er hægt að skipta upp greiðslu með punktum og greiðslukorti.
</p>
<%= render partial: 'spree/loyalty_points/transaction_table' %>
<br />
